# BlackBerry / Eclipse / Qt build outputs & temporary files
arm/
x86/
device-Debug/
device-Release/
simulator-Debug/
simulator-Release/

# Otomatik üretilen derleme dosyaları
*.o
*.obj
*.gch
*.pro.user*
.qmake.stash

# Eclipse ayarları ve işletim sistemi çöpleri
.settings/
.DS_Store
Thumbs.db

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# package.ps1 outputs
/build/
/stage/
/*.bar
/package.config.ps1
